<!-- chat/templates/chat/room.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
</head>
<body>
    <h1>Chat Room: {{ room_name }}</h1>
    <div id="chat"></div>

    <script>
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        const chatSocket = new WebSocket(`${ws_scheme}://` + window.location.host + '/ws/chat/');


        chatSocket.onopen = function (e) {
            console.log('WebSocket connection established.');
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const message = data['message'];
            // Handle incoming message
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        chatSocket.onclose = function (event) {
        console.error("WebSocket closed:", event);
        console.error("Close code:", event.code);
        console.error("Close reason:", event.reason);
        };

        chatSocket.onerror = function (event) {
            console.error("WebSocket error:", event);
        };

        // Send message to server
        function sendMessage(message) {
            chatSocket.send(JSON.stringify({
                'message': message
            }));
        }


    </script>
</body>
</html>
